body	{
	font-family:verdana,arial,sans-serif;
	font-size:0.8em;
	color:#000000;
	margin: 0px 0px 0px 0px;
	background-image: url(/images/common/mainbg.gif);
	background-color:#FFFFFF;
}
 
img { border : 0; }
 
a:link		{color:#0099FF;text-decoration:none;font-weight:bold;} 
a:hover		{color:#FFFF00 !important;text-decoration:underline;font-weight:bold;}
a:active	{color:#FFFF00;text-decoration:none;font-weight:bold;}
a:visited	{color:#0099FF;text-decoration:none;font-weight:bold;} 

input	{
	border: 1px solid #333399;
	color:#333399;
	font-family:verdana,arial,sans-serif;
	font-size:0.8em;
	height:20px;
}

.checkbox1	{
	border: none !important;
}	

#wrapper {
    margin: 0 auto;
    padding: 10px;
}

#wrapper table tr th,
#wrapper table tr td {
    padding: 10px;
}
